body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #49dffa, #ff4917);
}
.calculator {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    width: 320px;
}
.display {
    width: 94%;
    height: 60px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow-x: auto;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: rgba(255,255,255,0.2);
    color: #fff;
    transition: 0.2s;
}
button:hover {
    background: rgba(189, 231, 5, 0.4);
}
.equal:hover {
    background: #2196f3;

}

